*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 10000;
    
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#man
{
    transform-origin: bottom;
}
#text
{
    color: #fff;
    position: relative;
    font-size: 10vw;
}
.sec
{
    position: relative;
    padding: 100px;
}
.sec h2
{
    font-size: 3.5em;
    color: aquamarine;
    margin-bottom: 10px;
}
.sec p
{
    font-size: 1.2em;
    color: aquamarine;
    
}








